---
permalink: /about/
title: Команда
description: Присоединяйтесь к разработке, связь через Контакты, или пишите в личку.
sitemap: true
comments: false
---

<!-- <div class="thanks"><a href="{{ site.baseurl }}/thanks/">Доска Почета</a>!</div> -->

<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{% include relative-src.html src=person.url_path %}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
			<p class="blurb">{{ person.blurb }}</p>
		</li>
	{% endfor %}
</ul>
