---
permalink: /thanks/
title: Доска почета
description: Выражаю большую благодарность в содействии развития Ctlos.
sitemap: true
comments: false
---
<ul class="staff">
	{% for persons in site.thanks_members %}
		<li>
			<div class="square-image"><img src="{% include thanks-src.html src=persons.image_path %}" alt="{{ persons.name }}"/></div>
			<div class="name"><a target="_blank" href="{% include thanks-src.html src=persons.url_path %}">{{ persons.name }}</a></div>
			<div class="position">{{ persons.position }}</div>
			<p class="blurb">{{ persons.blurb }}</p>
		</li>
	{% endfor %}
</ul>