html {
	background: $bgc_darker;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial";
}

a {
	color: #4182e4;
	text-decoration: none;
}

a:hover {	
	color: #00a4ca;
}
a.blue {
	color: #fff;
	text-decoration: underline;
}

a.blue:hover {	
	color: #ccc;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5 {
	color: $accent;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 0 0 30px 0;
}

h3 {
	margin: 20px 0 10px 0;
}


p, address {
	font-size: 1.38em;
	color: mix($accent, $bgc_darker, 95%);
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}
