footer {
	font-size: 0.9em;
	position: relative;
	background: #16191f;
	color: #fff;

	&,
	a {
		color: #999;
	}

	a {
		text-decoration: none;
		padding: 0 10px;

		&:hover {
			color: $brand-color;
		}
	}

	ul {
		padding: 0;
		margin: 0;

		&.footer-right-links {
			float: left;
			@media #{$tablet} {
				float: left;
			}
		}

		&.footer-left-links {
			float: left;
		}

		li {
			list-style: none;
			margin: 15px auto;
			display: inline-block;

			a {

				&:hover {
					text-decoration: none;
				}				
			}
		}
	}
}

.copyright {
	margin: 15px auto;
	float: right;

	a {
		color: #999;
	}

	@media #{$desktop} {
		text-align: right;
		float: none;
		padding: 16px 0;
		margin: 0;
	}
}

// back-top
#scrollup {
	font-size: 2em;
	color: #fff;
	position: fixed;
	z-index: 1000;
	opacity: 0.8;
	padding: 10px;
	background: $brand-color;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	right: 20px;
	bottom: 50px;
	display: none;
	cursor: pointer;
}