.info {
	text-align: center;
	color: $accent;
	font-size: 1.1em;
}

section.get {
	font-size: .9em;
	padding: 0;
	h2 {
		text-align: left;
		margin-top: 50px;
	}
	p {
		font-size: 1.2em;
		margin: 5px 0;
	}
}