$brand-color: #282c37;
$secondary-brand-color: #282c37;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);
$accent: #9baec8;
$brand: #4079fa;
$brand_accent: #5a74ca;
$bgc_dark: #16191f;
$bgc_darker: #282c37;
$light_color: #fff;
$light_heading: #d9e1e8;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
